python-dotenv
azure-identity
openai
mcp
fastmcp
jupyter
ipykernel
notebook
uvicorn
deltalake
semantic_kernel
azure-core
dotenv
azure-ai-projects
azure-ai-agents===1.1.0b4
opentelemetry-api
opentelemetry-sdk 
azure-monitor-opentelemetry
typing
